

.App {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
  }
  
 
  .navbar {
    background-color: #333;
    display: flex;
    justify-content: center;
  }
  
  .navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .nav-link {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    transition: background-color 0.3s;
  }
  
  .nav-link:hover {
    background-color: #555;
    border-radius: 5px;
  }
  
  /* Styles for the sections */
  .section {
    background-color: #ffffff;
    padding: 40px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 20px;
  }
  
  
  .home {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
 
  
  .skills {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .projects {
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .contact {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  td{
    padding: 50px;
  }
  a:hover{
    color: red;
  }
  img{
    float: right;
      width:300px;
      height: 300px;
      border-radius: 20%; /* Makes the image round */
    transition: transform 0.3s;
  }
  
  
  
  
   
  